<div class="container">
  <div class="hero is-full-screen">
    <div class="logo is-center is-vertical-align">
      <br />
      <img src="./logo.png" alt="Allegretto Logo">
      <h3>Allegretto - the <strong>fast &amp; lively</strong> (~10kb) CSS framework.</h3>
      <small>
        <em>BTW, "Allegretto" is a musical term - and also my sassy cat.</em>
      </small>
    </div>
    <nav class="tabs is-center">
      <a href="#features">features</a>
      <a href="#start">start</a>
      <a href="#docs">docs</a>
    </nav>
  </div>

  <section id="features">
    <h2>Features</h2>
    <ul>
      <li> Fast and lively. With Unpkg CDN goodness.</li>
      <li> Build with Accessability in mind; A.O.D.A / W.C.A.G.</li>
      <li> Great for quick wireframing/prototyping</li>
      <li> A simple 12-Col <a href="#grid">grid</a> using flexbox</li>
      <li> Easy to <a href="#customizing">extend</a> with your own CSS variables</li>
      <li> Comes with a handful of <a href="#components">components</a> &amp; <a href="#utilities">utils</a></li>
      <li> Expects proper HTML5 semantic markup</li>
      <li> <a href="http://nicolasgallagher.com/about-normalize-css/" target="_blank">Normalize CSS</a> reset baked in</li>
      <li> No Pre-Processer here, just vanilla CSS-3 </li>
    </ul>
  </section>

  <section id="start">
    <h2>Getting Started</h2>
    <p>All you need is 1 CSS file, <code>retto.min.css</code> to be linked in your webpage.
      We recommend using <a href="<%= upkURL %>" target="_blank">https://unpkg.com</a></p>
    <br>
    <p>Link this CSS in your HTML:</p>
    <pre><code class=" prettyprint html">
      &lt;link rel="stylesheet" href="https://unpkg.com/allegretto"&gt;
    </code></pre>
    <br>
    <p>You can get the latest release on Github.</p>
    <p>
      <a href="<%= gitURL %>" class="button outline primary">Visit Repo</a>
      <a href="<%= zipURL %>" class="button outline secondary">Download .zip</a>
    </p>
    <p>You can also come and join-in on the chat!</p>
    <p><a href="https://spectrum.chat/allegretto" class="button secondary">Join the Community on Spectrum</a></p>
    <br>
    <p>Install it from
      <code>npm</code> or <code>yarn</code> like so: <code>npm allegretto</code> or <code>yarn allegretto</code>
    </p>
  </section>

  <section id="docs">
    <header class="row">
      <div class="col is-vertical-align">
        <h2 class="is-marginless">Docs</h2>
      </div>
      <div class="col is-right">
        <nav class="tabs">
          <a href="#customizing">customizing</a>
          <a href="#components">components</a>
        </nav>
      </div>
    </header>
    <br>
    <p>
      Allegretto was created as a lightweight framework to help prototype front-end markup that requires strict
      A.O.D.A. (WCAG 2.0) compliance by taking advantage of
      <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Using_HTML_sections_and_outlines" target="_blank">HTML5
        Semantic markup structures</a>.
    </p>
    <p>Below is a
      <a href="#elements">demo</a> of the semantic HTML5 elements styled by Allegretto.</p>
    <br>
    <h3 id="customizing">Customizing</h3>
    <p>allegretto comes with a basic set of
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables" target="_blank">CSS variables</a>:</p>
    <pre><code class=" prettyprint css">
  :root {
    --color-primary: #0099cc;
    --color-lightGrey: #d2d6dd;
    --color-grey: #7e818b;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-family: "Inter UI", sans-serif;
  }
      </code></pre>
    <br>
    <p>To override the variables, just add them to your <code>:root</code> selector after importing <code>retto.css</code>.</p>

    <pre><code class=" prettyprint css">
      @import url(retto.css) 
      :root { 
        --primary-color: #da1d50; /* brand color */ 
        --grid-maxWidth: 108rem; /* max container width 1080px */
        --font: 0.9rem/1.2 "Roboto", sans-serif; /* size/line-height | family */
      } 
      /* Other styles..... */
    </code></pre>
  </section>
  <section id="components">
    <div class="row">
      <div class="col is-vertical-align">
        <h2 class="is-marginless">Components</h2>
      </div>
      <div class="col is-right">
        <nav class="tabs">
          <a href="#grid">grid</a>
          <a href="#buttons">buttons</a>
          <a href="#nav">nav</a>
          <a href="#card">card</a>
          <a href="#tag">tag</a>
          <a href="#utilities">utilities</a>
          <a href="#elements">elements</a>
          <a href="#components">components</a>
          <a href="#helpers">helpers</a>
        </nav>
      </div>
    </div>
    <%- partial('_tpl/grid'); %>
    <br>
    <%- partial('_tpl/buttons'); %>
    <br>
    <%- partial('_tpl/navs'); %>
    <br>
    <%- partial('_tpl/card'); %>
    <br>
    <%- partial('_tpl/tag'); %>
    <br>
    <%- partial('_tpl/utilities'); %>
    <br>
    <%- partial('_tpl/elements'); %>
    <br>
    <%- partial('_tpl/components'); %>
    <br>
    <%- partial('_tpl/helpers'); %>
    <br>
    <p class="is-center">
      <a class="button primary outline" target="_blank" href="https://twitter.com/intent/tweet?url=<%= docsURL %>&text=Allegretto%20-%20A%20fast%20lively%20CSS%20framework&via=vip3rousmango&hashtags=web,css,flexbox">Give
        a shout-out</a>
    </p>
  </section>
</div>
<footer class="is-text-center">
  <p>
    <a href="#top">back to top</a> &bull; <a href="https://github.com/VirtuallyCreative/allegretto" target="_blank">View
      on GitHub</a>
  </p>
  </p>
  <h5>Made with &lt;3 by <a href="https://virtuallycreative.ca/" target="_blank">Virtually(Creative)</a>
  </h5>
</footer>